* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-primary: black;
    --text-secondary: white;
    --bg-black: rgb(0 0 0);
    --bg-beige: #E2D9C2;
    --shadow: rgb(0 0 0 / 75%);

}

footer {
    height: 10vh;
}

.imagen-fondo1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 75vw;
    height: 100vh;
    background-image: url('../assets/images/Fondo1.png');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    z-index: -1;
}

.imagen-fondo2 {
    position: fixed;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100vh;
    background-image: url('../assets/images/Fondo2.png');
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    z-index: -1;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

header {
    width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 10vh;
}

.button-beige {
    font-family: "Konkhmer Sleokchher", system-ui;
    width: fit-content;
    height: 35px;
    border-radius: 60px;
    color: var(--text-primary);
    font-weight: 500;
    background-color: var(--bg-beige);
    border: none;
    padding: 7px;
    box-shadow: 0px 1px 7px var(--shadow);
    margin-right: 0.5rem;
    cursor: pointer;
}

.button-black {
    font-family: "Konkhmer Sleokchher", system-ui;
    width: fit-content;
    height: 35px;
    border-radius: 60px;
    color: var(--text-secondary);
    font-weight: 500;
    background-color: var(--bg-black);
    border: none;
    padding: 7px;
    box-shadow: 0px 1px 7px var(--shadow);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 78vh;
    align-items: center;
    justify-content: space-between;
    padding: 5%;

    section h1 {
        color: var(--text-secondary);
        font-family: "Jomhuria", serif;
        font-size: 70px;
        font-weight: 400;
        margin-bottom: 1px;
    }

    aside h1 {
        font-family: "Lilita One", system-ui;
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        color: var(--text-secondary);
        margin-bottom: 1px;
    }
}

@media (max-width: 1220px){
    main {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 72vh;
        align-items: center;
        justify-content: space-between;
        padding: 1%;

        section h1 {
            color: var(--text-secondary);
            font-family: "Jomhuria", serif;
            font-size: 60px;
            font-weight: 400;
            margin-bottom: 1px;
        }

        aside h1 {
            font-family: "Lilita One", system-ui;
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            color: var(--text-secondary);
            margin-bottom: 1px;
        }
    }
}
.Formulario {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: auto;
    height: auto;
    label {
        display: inherit;
        align-items: center;
        border-radius: 0.5rem;
        width: fit-content;
        padding: 0.4rem;
        background-color: var(--bg-beige);
        gap: 0.3rem;
    }
    input {
        border: none;
        background-color: inherit;
        width: 200px;

        &:focus-visible{
            outline: none;
            border: none;
        }
    }

    input::placeholder {
        color: black;
        font-weight: 700;
    }
}

.search-button {
    font-family: "Konkhmer Sleokchher", system-ui;;
    display: flex;
    flex-direction: row;
    width: 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6px;
    border-radius: 0.3rem;
    border: none;
    background-color: var(--bg-black);
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}

.Logo {
    width: 200px;
    height: auto;
    margin-left: 1rem;
    margin-bottom: 1rem;
}