# para fastapi
fastapi
uvicorn[standard]

# para base de datos
motor
pymongo

# para cargar variables del .env
python-dotenv

google-auth
google-auth-oauthlib

python-jose[cryptography]

pydantic[email]

# para pagos
stripe